/************************************************************
Copyright 2019  All Rights Reserved
Robert A. Beezer, David W. Farmer, Alex Jordan

This file is used by the PreTeXt project to track projects
authored and distributed with PreTeXt.  By contributing edits,
or new project files, you agree to transfer your copyright
interest to the individuals named above.
*************************************************************/

/*.projects {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}
*/
.heading {
	text-align: left;
	padding-left: 4ex;
	background: lightblue;
	padding-top: 2ex;
	padding-bottom: 1ex;
}

/*.authors, .title, .character, .legal {
    vertical-align: top;
    padding: 5px;
    border: 1px solid black;
}
*/
.fact-sheet-knowl {
    display: none;
}

.description-knowl {
    display: none;
}

.awards-knowl {
    display: none;
}

.description {
    margin: 20px;
}

div.category > span.title {
    color:red;
}

div.book-summary > div.biblio > a.title {
    color:green;
}

div.book-summary > div.biblio > span.authors {
    color:purple;
}

div.book-summary > div.blurb {
    color:brown;
}

div.book-summary > div.badges > img.badge {
    right-margin:20px;
}
